#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules (sorted alphabetically)
#
.*
*.a
*.asn1.[ch]
*.bin
*.bz2
*.c.[012]*.*
*.dt.yaml
*.dtb
*.dtb.S
*.dwo
*.elf
*.gcno
*.gz
*.i
*.ko
*.lex.c
*.ll
*.lst
*.lz4
*.lzma
*.lzo
*.mod
*.mod.c
*.ns_deps
*.o
*.o.*
*.patch
*.s
*.so
*.so.dbg
*.su
*.symtypes
*.tab.[ch]
*.tar
*.xz
Module.symvers
modules.builtin
modules.order

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers
/modules.builtin.modinfo

#
# RPM spec file (make rpm-pkg)
#
/*.spec

#
# Debian directory (make deb-pkg)
#
/debian/

#
# Snap directory (make snap-pkg)
#
/snap/

#
# tar directory (make tar*-pkg)
#
/tar-install/

#
# We don't want to ignore the following even if they are dot-files
#
!.clang-format
!.cocciconfig
!.get_maintainer.ignore
!.gitattributes
!.gitignore
!.mailmap

#
# Generated include files
#
/include/config/
/include/generated/
/include/ksym/
/arch/*/include/generated/

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# id-utils files
ID

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

# Kconfig presets
/all.config
/alldef.config
/allmod.config
/allno.config
/allrandom.config
/allyes.config

# Kdevelop4
*.kdev4

# Clang's compilation database file
/compile_commands.json
/stage_1_test_images
/stage_1_train_images
/stage_1_test_images_png
/stage_1_train_images_png
/test_images_224
/train_images_224
/stage_1_sample_submission.csv
/stage_1_train.csv
/stage_1_train_with_one_image_dropped.csv
/train_labels_as_strings.csv
/nano.save
/nano.save.1
/EXP_*/*.csv
/EXP_*/*.joblib
/EXP*/*.pyc
/EXP*/__pycache__
/models/*.pth
/*.pyc

**/.DS_Store
/.DS_Store
/test_images_3chn_bg
/train_images_3chn_bg
/test_images__3chn_bg_224
/train_images__3chn_bg_224

/ENS
/test_images__3chn_bg_300
/train_images__3chn_bg_300
/test_images_3chn_sas*
/train_images_3chn_sas*
/DATA_with_PATIENT_ID.csv
/test_images__3chn_bg_300
/train_images__3chn_bg_300
/test_images_3chn_bg_380
/train_images_3chn_bg_380
